@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-rows: 10em 25vh auto 10em;
    grid-template-columns: 0.5fr minmax(30em, 6fr) minmax(15em, 2fr) 0.5fr;
    grid-template-areas: 
        "header header header header"
        "hero hero hero hero"
        ". main sidebar ."
        "footer footer footer footer";
    grid-column-gap: 1.5em;
    margin: 0;
    background: #f7f7f7 url("images/bg04.png");
	border-top: solid 1px #fff;
}

header {
    grid-area: header;
}

header, footer {
    font-family: 'Architects Daughter', cursive;
    background: #3B4346 url("images/bg01.jpg");
    color: white;
    border-bottom: solid 1px #272d30;
	box-shadow: inset 0px -1px 0px 0px #51575a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hero {
    grid-area: hero;
    background: #3B4346 url("images/bg01.jpg");
    color: white;
    border-bottom: solid 1px #272d30;
	box-shadow: inset 0px -1px 0px 0px #51575a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hero-title, .hero-subtitle {
    margin: 0;
}

main {
    grid-area: main;
    margin: 0;
}

aside {
    grid-area: sidebar;
    background: #353D40 url("images/bg02.jpg");
	border-bottom: solid 1px #272e31;
    color: #a0a8ab;
    word-wrap: break-word;
    padding: 2em;
    margin: 0;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "img title"
        "img content";
    grid-column-gap: 1.5em;
    box-shadow: 0 0 1.5em grey;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.card_text_only{
    background: white;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "title"
        "content";
    grid-column-gap: 1.5em;
    box-shadow: 0 0 1.5em grey;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.card_img_only {
    background:#D4D9DD url("images/bg03.jpg");
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "img";
    grid-column-gap: 1.5em;
    box-shadow: 0 0 1.5em grey;
    padding: 1.5em;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.card-img {
    grid-area: img;
    max-width: 100%;
}

.card-title {
    grid-area: title;
    margin: 0;
    font-weight: 300;
}

.card-content {
    grid-area: content;
}